<main id="new-main">
  <div class="row justify-content-center">
    <div class="cocktail-form">
      <h1>Add a new cocktail</h1>
      <%= render 'form', cocktail: @cocktail %>
    </div>
  </div>
</main>
