<div class="container">
  <div class="row m-2">
        <div class="card m-2" style="width: 18rem;">
        <%# <img class="card-img-top" src="..." alt="Card image cap"> %>
          <div class="card-body">
            <h5 class="card-title"><%= @cocktail.name %></h5>
          </div>
      </div>
  </div>
</div>

<div class="text-center">
<%= link_to 'Back to Cocktails Page', cocktails_path, class: 'btn btn-danger' %>
<%= link_to 'Create a Dose',  new_cocktail_dose_path(@cocktail), class: 'btn btn-danger' %>
</div>
