// Import page-specific CSS files here.
@import "home";

body {
  background-color: #f8f1f1;
  font-family: "Open Sans", sans-serif;
}

.home-bg-img {
  top: 0;
  position: sticky;
  text-align: center;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://images.unsplash.com/photo-1536935338788-846bb9981813?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=986&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
