#about {
  margin: 3em;
}

#title {
  font-weight: 600;
  opacity: $opacity-title;
  color: $green;
}

#about-parag {
  font-weight: 400;
  opacity: $opactiy-text;
}

@media only screen and (max-width: 992px) {
  #about {
    background-color: $white;
    padding: 1.5em;
    border-radius: $border-radius;
    min-width: 350px;
  }
}
