.card-style {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 4px;
}

.card-category {
  width: 48em;
  height: 180px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.covid-update-card {
  margin-left: 10em;
  margin-top: 2em;
}

.card-news {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 80%;
  min-height: 42vh;
  padding: 24px 20px;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 1px 1px 11px 4px rgba(27, 26, 26, 0.9);
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .covid-update-card {
    margin-left: 5em;
    margin-top: 2em;
  }
}
