// booking form
#form-container {
  padding: 1.5em;
  width: 80%;
  min-width: 340px;
  margin-left: 3em;
  color: $white;
  background-color: $green;
  margin-bottom: 2em;
  border-radius: $border-radius;
}
